<p id="notice"><%= notice %></p>

<h1>Kevins</h1>

<table>
  <thead>
    <tr>
      <th>Occupation</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kevins.each do |kevin| %>
      <tr>
        <td><%= kevin.occupation %></td>
        <td><%= kevin.age %></td>
        <td><%= link_to 'Show', kevin %></td>
        <td><%= link_to 'Edit', edit_kevin_path(kevin) %></td>
        <td><%= link_to 'Destroy', kevin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kevin', new_kevin_path %>
