<p id="notice"><%= notice %></p>

<p>
  <strong>Occupation:</strong>
  <%= @kevin.occupation %>
</p>

<p>
  <strong>Age:</strong>
  <%= @kevin.age %>
</p>

<%= link_to 'Edit', edit_kevin_path(@kevin) %> |
<%= link_to 'Back', kevins_path %>
