<%= form_for(character) do |f| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :alignment %>
    <%= f.text_field :alignment %>
  </div>

  <div class="field">
    <%= f.label :race %>
    <%= f.text_field :race %>
  </div>

  <div class="field">
    <%= f.label :class %>
    <%= f.text_field :role %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :strength %>
    <%= f.number_field :strength %>
  </div>
  
  <div class="field">
    <%= f.label :dexterity %>
    <%= f.number_field :dexterity %>
  </div>
  
  <div class="field">
    <%= f.label :constitution %>
    <%= f.number_field :constitution %>
  </div>
  
  <div class="field">
    <%= f.label :intelligence %>
    <%= f.number_field :intelligence %>
  </div>
  
  <div class="field">
    <%= f.label :wisdom %>
    <%= f.number_field :wisdom %>
  </div>
  
  <div class="field">
    <%= f.label :charisma %>
    <%= f.number_field :charisma %>
  </div>
  
  
  <div class="field">
    <%= f.label :str_mod %>
    <%= f.number_field :str_mod %>
  </div>
  
  <div class="field">
    <%= f.label :dex_mod %>
    <%= f.number_field :dex_mod %>
  </div>
  
  <div class="field">
    <%= f.label :con_mod %>
    <%= f.number_field :con_mod %>
  </div>
  
  <div class="field">
    <%= f.label :int_mod %>
    <%= f.number_field :int_mod %>
  </div>
  
  <div class="field">
    <%= f.label :wis_mod %>
    <%= f.number_field :wis_mod %>
  </div>
  
  <div class="field">
    <%= f.label :cha_mod %>
    <%= f.number_field :cha_mod %>
  </div>
  
  
  
  
  
  
  <div class="field">
    <%= f.label :hit_points %>
    <%= f.number_field :hit_points %>
  </div>
  
  <div class="field">
    <%= f.label :experience_points %>
    <%= f.number_field :experience_points %>
  </div>
  
  <div class="field">
    <%= f.label :items %>
    <%= f.text_area :items %>
  </div>
  
  <div class="field">
    <%= f.label :character_level %>
    <%= f.number_field :character_level %>
  </div>
  
  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>
  
  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>
  
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  
  <div class="field">
    <%= f.label :height %>
    <%= f.number_field :height %>
  </div>
  
  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight %>
  </div>
  
  <div class="field">
    <%= f.label :hair %>
    <%= f.text_field :hair %>
  </div>
  
  <div class="field">
    <%= f.label :eyes %>
    <%= f.text_field :eyes %>
  </div>
  
  <div class="field">
    <%= f.label :speed %>
    <%= f.number_field :speed %>
  </div>
  
  <div class="field">
    <%= f.label :ac %>
    <%= f.number_field :ac %>
  </div>
  
  <div class="field">
    <%= f.label :initiative %>
    <%= f.number_field :initiative %>
  </div>
  
  <div class="field">
    <%= f.label :fortitude %>
    <%= f.number_field :fortitude %>
  </div>
  
  <div class="field">
    <%= f.label :reflex %>
    <%= f.number_field :reflex %>
  </div>
  
  <div class="field">
    <%= f.label :will %>
    <%= f.number_field :will %>
  </div>
  
  <div class="field">
    <%= f.label :bab %>
    <%= f.number_field :bab %>
  </div>
  
  <div class="field">
    <%= f.label :cmb %>
    <%= f.number_field :cmb %>
  </div>
  
  <div class="field">
    <%= f.label :cmd %>
    <%= f.number_field :cmd %>
  </div>
  
  <div class="field">
    <%= f.label :languages %>
    <%= f.text_area :languages %>
  </div>
  
  <h2>Skills</h2>
  
  <div class="field">
    <%= f.label :appraise %>
    <%= f.number_field :appraise %>
  </div>
  
  <div class="field">
    <%= f.label :bluff %>
    <%= f.number_field :bluff %>
  </div>
  
  <div class="field">
    <%= f.label :climb %>
    <%= f.number_field :climb %>
  </div>
  
  <div class="field">
    <%= f.label :craft %>
    <%= f.number_field :craft %>
  </div>
  
  <div class="field">
    <%= f.label :diplomacy %>
    <%= f.number_field :diplomacy %>
  </div>
  
  <div class="field">
    <%= f.label :disable_device %>
    <%= f.number_field :disable_device %>
  </div>
  
  <div class="field">
    <%= f.label :disguise %>
    <%= f.number_field :disguise %>
  </div>
  
  <div class="field">
    <%= f.label :escape_artist %>
    <%= f.number_field :escape_artist %>
  </div>
  
  <div class="field">
    <%= f.label :fly %>
    <%= f.number_field :fly %>
  </div>
  
  <div class="field">
    <%= f.label :handle_animal %>
    <%= f.number_field :handle_animal %>
  </div>
  
  <div class="field">
    <%= f.label :heal %>
    <%= f.number_field :heal %>
  </div>
  
  <div class="field">
    <%= f.label :intimidate %>
    <%= f.number_field :intimidate %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_arcana %>
    <%= f.number_field :knowledge_arcana %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_dungeoneering %>
    <%= f.number_field :knowledge_dungeoneering %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_engineering %>
    <%= f.number_field :knowledge_engineering %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_geography %>
    <%= f.number_field :knowledge_geography %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_history %>
    <%= f.number_field :knowledge_history %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_local %>
    <%= f.number_field :knowledge_local %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_nature %>
    <%= f.number_field :knowledge_nature %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_nobility %>
    <%= f.number_field :knowledge_nobility %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_planes %>
    <%= f.number_field :knowledge_planes %>
  </div>
  
  <div class="field">
    <%= f.label :knowledge_religion %>
    <%= f.number_field :knowledge_religion %>
  </div>
  
  <div class="field">
    <%= f.label :linguistics %>
    <%= f.number_field :linguistics %>
  </div>
  
  <div class="field">
    <%= f.label :perception %>
    <%= f.number_field :perception %>
  </div>
  
  <div class="field">
    <%= f.label :perform %>
    <%= f.number_field :perform %>
  </div>
  
  <div class="field">
    <%= f.label :profession %>
    <%= f.number_field :profession %>
  </div>
  
  <div class="field">
    <%= f.label :ride %>
    <%= f.number_field :ride %>
  </div>
  
  <div class="field">
    <%= f.label :sense_motive %>
    <%= f.number_field :sense_motive %>
  </div>
  
  <div class="field">
    <%= f.label :sleight_of_hand %>
    <%= f.number_field :sleight_of_hand %>
  </div>
  
  <div class="field">
    <%= f.label :spellcraft %>
    <%= f.number_field :spellcraft %>
  </div>
  
  <div class="field">
    <%= f.label :stealth %>
    <%= f.number_field :stealth %>
  </div>
  
  <div class="field">
    <%= f.label :survival %>
    <%= f.number_field :survival %>
  </div>
  
  <div class="field">
    <%= f.label :swim %>
    <%= f.number_field :swim %>
  </div>
  
  <div class="field">
    <%= f.label :use_magical_device %>
    <%= f.number_field :use_magical_device %>
  </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
