<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>Class:</strong>
  <%= @character.role %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>


  <div class="chars">
            <table>
                <thead class="charsHead">
                <tr>
                    <th scope="col" class="col3">STR</th>
                    <th scope="col" class="col3">DEX</th>
                    <th scope="col" class="col3">CON</th>
                    <th scope="col" class="col3">INT</th>
                    <th scope="col" class="col3">WIS</th>
                    <th scope="col" class="col3">CHA</th>
                </tr>
                </thead>
                <tbody class="charsBody">
                    <tr>
                        <td class="col2"> 
                          <p>
                            <%= @character.strength %>
                          </p>
                        </td>
                        <td class="col">
                          <p>
                            <%= @character.dexterity %>
                          </p>
                        </td>
                        <td class="col2">
                          <p>
                            <%= @character.constitution %>
                          </p>
                        </td>
                        <td class="col">
                          <p>
                            <%= @character.intelligence %>
                          </p>
                        </td>
                        <td class="col2">
                          <p>
                            <%= @character.wisdom %>
                          </p>
                        </td>
                        <td class="col">
                          <p>
                            <%= @character.charisma %>
                          </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %> |
<%= link_to 'Select', campaign_home_url %>
