<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/sessions/new">D&D Application</a>
    </div>


      <ul class="nav navbar-nav navbar-right">
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body style="margin-top:50px">
  <p id="notice"><%= notice %></p>
  
  <ul class="list-group">
    <li class="list-group-item">
      <p>
        <strong>Name:</strong>
        <%= @character.name %>
      </p>
    </li>
    <li class="list-group-item">
        <p>
          <strong>Race:</strong>
          <%= @character.race %>
        </p>
    </li>
    <li class="list-group-item">
        <p>
          <strong>Class:</strong>
          <%= @character.role %>
        </p>
    </li>
    <li class="list-group-item">
        <p>
          <strong>Description:</strong>
          <%= @character.description %>
        </p>
    </li>
    <li class="list-group-item">
      <div class="chars">
              <table class="table">
                  <thead class="charsHead">
                  <tr>
                      <th scope="col" class="col3">STR</th>
                      <th scope="col" class="col3">DEX</th>
                      <th scope="col" class="col3">CON</th>
                      <th scope="col" class="col3">INT</th>
                      <th scope="col" class="col3">WIS</th>
                      <th scope="col" class="col3">CHA</th>
                  </tr>
                  </thead>
                  <tbody class="charsBody">
                      <tr>
                          <td class="col2"> 
                            <p>
                              <%= @character.strength %>
                            </p>
                          </td>
                          <td class="col">
                            <p>
                              <%= @character.dexterity %>
                            </p>
                          </td>
                          <td class="col2">
                            <p>
                              <%= @character.constitution %>
                            </p>
                          </td>
                          <td class="col">
                            <p>
                              <%= @character.intelligence %>
                            </p>
                          </td>
                          <td class="col2">
                            <p>
                              <%= @character.wisdom %>
                            </p>
                          </td>
                          <td class="col">
                            <p>
                              <%= @character.charisma %>
                            </p>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
    </li>

</ul>
  

    
</body>
        
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', current_user %> |
<%= link_to 'Select', campaign_home_url %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
